h2{
    text-align: center;
    color: white;
}

.container{
    background-color: lightblue;
}

img{
    width: 10px;
}

h5{
    font-size: 15px;
}

p{
    font-size: 12px;
}

.pagination-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

Button{
    width: 100%;
    color: black;
    background-color: white;
}